@font-face {
  font-family: "iconfont"; /* Project id 3169487 */
  src: url('iconfont.woff2?t=1644923670991') format('woff2'),
       url('iconfont.woff?t=1644923670991') format('woff'),
       url('iconfont.ttf?t=1644923670991') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-liwu:before {
  content: "\e600";
}

.icon-xinlangweibo:before {
  content: "\e601";
}

.icon-shouji:before {
  content: "\e602";
}

.icon-F:before {
  content: "\e603";
}

.icon-sousuo:before {
  content: "\e604";
}

.icon-weixin:before {
  content: "\e605";
}

.icon-liwu1:before {
  content: "\e654";
}

.icon-shizhong:before {
  content: "\e74f";
}

.icon-qian:before {
  content: "\e662";
}

.icon-7:before {
  content: "\e67d";
}

.icon-15tianbaotui01:before {
  content: "\e688";
}

.icon-huidingbu:before {
  content: "\e691";
}

.icon-gouwuche1:before {
  content: "\e899";
}

.icon-jinrujiantouxiao:before {
  content: "\e8b9";
}

.icon-bofang:before {
  content: "\e624";
}

.icon-jiantouyou1:before {
  content: "\e62d";
}

.icon-guanyanren:before {
  content: "\e640";
}

.icon-banshou:before {
  content: "\e7fa";
}

.icon-anniu-jiantouxiangyou_o:before {
  content: "\eb8c";
}

.icon-kefu:before {
  content: "\ec2e";
}

.icon-liaotian:before {
  content: "\e63e";
}

.icon-walletY:before {
  content: "\e645";
}

.icon-SIMka:before {
  content: "\e637";
}

.icon-dingwei:before {
  content: "\e8ae";
}

.icon-loufangfangzi:before {
  content: "\e729";
}

.icon-qian4:before {
  content: "\e6e9";
}

.icon-gouwuche:before {
  content: "\e63f";
}

.icon-jiantouyou:before {
  content: "\e62a";
}

